svg.ct-chart-bar, svg.ct-chart-line{
    overflow: visible;
}
.ct-label.ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: center;
  /* text-anchor: center !important; */
  transform-origin: 100% 0;
  transform: translate(-100%) rotate(-45deg);
  white-space:nowrap;
}

.ct-chart-bar > .ct-labels > foreignObject >.ct-label.ct-horizontal.ct-end {
  left: calc(100% / 2);
}

.ct-series-a .ct-point{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear alternate infinite;
  stroke: #d81b1b
}
.ct-series-a .ct-line{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear alternate infinite;
  stroke: transparent
}

.ct-series-a .ct-area{
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  animation: dash 5s ease-in-out forwards infinite;
  stroke: #d81b1b;
  animation-fill-mode: none;
  fill: #d81b1b
}


@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.ct-series-a .ct-bar{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s 500ms cubic-bezier(0.74, 0.02, 1, 0.05) infinite alternate;
  /* animation-duration: 2s; */
  stroke: #d81b1b;
}