* {
    margin: auto;
    overflow-x: visible;
}

body {
    background-image: url(../Images/gravel/gravel.png);
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 0 -9600px;
    /* Using Negative Margins to allow bttm border to fill scrn */
    padding: 0 9600px;
    height: 85px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 0px 0px 1.5px 0px;
    background-color:white;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.name {
    background-color: #4aaaa5; 
    color: white;
    padding: 20px 35px 20px 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    margin: 0px auto 0px 0px;
    height: 45px;
}

.pages {
    width: 298px;
}

.Menu {
    list-style-type: none;
    display: inline-flex;
    width: 100%;
    font-size: 14pt;
    padding: 35px auto 35px auto;
}

.Menu a {
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: darkgray;
    padding: auto;
}

#rightborder {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 1px 0px 0px;

}

.main-content {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    margin-top: 115px;
    margin-bottom: 30px;
    background-color: white;
    overflow: auto;
}

.about {
    font-size: 30px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 10px 0px 30px 0px;
    margin: 30px 30px 30px 30px;
    width: auto;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 0px 2px 0px;
}

.IMGcontainer {
    margin: 0px 25px 20px 30px;
    float: left;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
}

img {
    width: 100%;
    height: 100%;
}

.body-text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
    font-weight: 130%;
}

p {
    margin: 15px 20px 20px 20px;  /* figure how to algn w/ top of img*/
}

.topPara {
    margin-top: -7px; /*solution for aligning top p text w/ images*/
}

.container {
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    width: fit-content;
    height: fit-content;
    float: right;
    margin: 0px 30px 0px 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.list1,.list2 {
    padding: 5px;
}

.list1 ul, .list2 ul {
    padding: 0 0 0 30px;
    line-height: 28px;
}

h2 {
    font-size: 14pt;
    text-align: center;
    color: lightslategray;
}

footer {
    clear: both;
    margin: 0 -320px;
    /* Using Negative Margins to allow bttm border to fill scrn */
    padding: 0 320px;
    background-color: #666666;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 30px;
    color: #cccccc;
    font-weight: bold;
    border-top: 8px solid #4aaaa5;
    line-height: 20px;
    position: relative;
    top: 25px;
    /* use absolute positioning to have it stick to the bottom of the page UPDATE- fixed with relative positioning, but with smaller page content will still be an issue*/
}

.posRel {
    width: 900px;
    margin: 0px 30px 0px 30px;
}

.itemBox {
    display: flex;
    width: auto;
    margin:4px 30px 34px 30px;
    position: relative;
}

h3 {
    position: absolute;
    bottom: 0px;
    width: 257px;
    text-align: center;
    margin-bottom: 8px;
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

 /*using class to justify left edge of images             with the "Portfolio" header and bottom border*/
 .left {
    margin-left: 0px;
}

/*using class to justify right edge of images with
the left edge of the container... could have used floats.... but oh well*/
.right {
    margin-right: 0px;
}

.formField {
    width: 900px;
    margin: 0px 30px 30px 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: darkgrey;
    font-weight: 130%;
}

input {
    width: 900px;
    padding: 7px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: slategray;
    font-weight: 130%;
    font-size: 16px;
    line-height: 20px;
}

textarea {
    width: 900px;
    height: 150px;
    padding: 7px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    resize: none;
    text-align: start;
    flex-direction: column;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: slategray;
    font-weight: 130%;
    font-size: 16px;
    line-height: 20px;
}

input:focus {
    outline: none; /*removes user style sheet "highlight box"*/
    border: 2px solid darkgrey;
}

textarea:focus {
    outline: none; /*removes user style sheet "highlight box"*/
    border: 2px solid darkgrey;

}

input[type=submit] {
    cursor: pointer;
    color: white;
    background: #4aaaa5;
    padding: 4px 10px;
    width: 100px;
    text-align: center;
}

@media screen and (min-width: 769px) {
    * { 
        width: auto;
        margin: auto;
    }

    .flex-container {
        width: 90%;
        margin: 0px;
        padding: 0% 5%;
        display: flex;
        flex-direction: row;
    }

    .name {
        width: auto;
        margin: 0%;
        padding: auto

    }

    header {
        width: auto;
    }

    .pages {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0%;
        width: 35%;
        padding-left: 0%;
        display: flex;
        flex-direction: row;

    }

    ul {
        padding-inline-start: 0px;
    }
    .Menu {
        padding: 0% 0% 0% auto;
        margin: auto 0%;
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        align-content: center;
    }

    .Menu li {
        width: 70%;
        padding: 0% 5%;
        display: flex;
        margin: 0%;
        text-align: center;

    }

    .main-content{
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 10%;
    }

    .posRel {
        margin: 0% 5%;
        width: 90%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;

    }


    .itemBox {
        width: 45%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }

    .one {
        margin: 2.5% 5% 2.5% 0%;
    }

    .two {
        margin: 2.5% 0% 2.5% 5%;
    }

    h3 {
        width: 100%;
        margin-bottom: 30px;
    }

    footer {
        width: 100%;
        margin: 0px;
        padding: 15px 0px;
    }

    .formField {
        width: 92%;
        margin: 4%;
    }

    input, textarea {
        width: 100%;
    }

}


@media screen and (min-width: 767px) and (max-width: 768px) {

    * {
        max-width: 100%;
        margin: auto;
    }
   
    .flex-container {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        height: 5em;
        width: 100%;
    }
   
    .name {
        padding: 20px 35px 20px 35px;
        font-size: 30px;
        margin: 0px 25px;
        height: 100%;
        padding: 0px;
    }
   
    header {
        padding: .7em .5em;
    }
       
    .pages {
        width: auto;
        margin: auto  0px auto auto;
        padding: 0px;
        display: flex;
    }

    .Menu {
        padding: 0px;
    }

    .Menu li {
        padding: 0px 25px;
    }

    .main-content {
        margin-top: 115px;
        margin-left: 25px;
        margin-right: 25px;  
    }

    .FLEXcontainer {
        display: block;
        padding: 0px 30px 30px 0px;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }

    .IMGcontainer {
        width: 50%;
        height: 50%;
        margin: 0px 20px 20px 0px;
        float: left;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .wrapper div:first-child {
        order: 2;
    }

    .body-text p {
        margin: 0px;
        padding: 0px 0px 30px 0px;
        font-size: 120%;
        clear: left;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 30px 0px 0px 0px;
        padding: 10px 45px;
        font-size: 126%;
        position: absolute;
        right: 294px;
        bottom: 159px;
    }

    .list2, .list1 {
        font-size: 120%;
        padding: 20px;
    }

    .container h2 {
        font-size: 150%;
        padding: 0px 0px 10px 0px;
    }

    footer{
        margin: 60px 0px 0px 0px;
        padding: 20px 0px;
        position: static;
        font-size: 10px;
    }

    .main-content {
         padding: 30px;
    }

    .margCorrect {
        margin: 0px;
    }
 
    .posRel {
        margin: 30px 0px 0px 0px;
        width: auto;
        display: flex;
        flex-direction: row ;
        flex-wrap: wrap;
    }

    .itemBox {
        padding: 0px;
        margin: 0px;
        width: 46%;
        height: auto;
    }

    .one {
         padding: 0% 4% 5% 0%;
    }

    .two {
        padding: 0% 0% 5% 4%;
    }

    h3 {
        width: 92%;
        margin-bottom: 15%;
    }

    .formField {
     width: 92%;
     margin: 4%;
     }

      input, textarea {
     width: 100%;
     }

     .about {
         margin: 0px 0px 30px 0px;
     }

}

@media screen and (max-width: 766px) {

    body {
        width: auto;
    }

    .flex-container{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0px;
        width: auto;
        height: auto;
        border-style: solid;
        border-color: darkgrey;
        border-width: 0px 0px 1.5px 0px;
        background-color:white;
        position: static;
        top: 0px;
        z-index: 100;
    }

    .name {
        font-size: 40px;
        text-align: center;
        height: 100px;
        width: auto;
        padding: 0px;
        margin: 0px;
    }

    .pages {
        width: 66%;
        align-content: center;
        padding: auto;
        display: inline-flex;
        margin: auto;
    }

    header {
        padding-top: 30px;
        line-height: 100%;
        width: auto;
    }

    ul.Menu {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 14pt;
        padding: 25px 0px;
        align-content: center;
        margin: auto;
    }

    .Menu li {
        display: flex;
        margin: auto;
        width: 33%;
        padding: auro ;
        align-items: center;
    }

    .Menu a {
        width: auto;
        padding: auto;
    }

    .main-content {
        margin: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .FLEXcontainer {
        display: flex;
        width: auto;
        padding: 0px;
        flex-direction: column;
    }

    .IMGcontainer {
        width: auto;
        height: auto;
        margin: 0px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper div:first-child {
        order: 2;
    }

    .body-text p {
        margin: 0px;
        padding: 30px 0px 0px 0px;
        font-size: 120%;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 30px 0px 0px 0px;
        padding: 10px 0px;
        font-size: 120%;
    }

    .list1 {
        margin-top: 0px;
    }

    h2 {
        border: solid;
        border-color: #777777;
        border-width: 0px 0px 2px 0px;
        width: 75%;
        margin-bottom: 10px;
    }

    footer{
        margin: 60px 0px 0px 0px;
        padding: 20px 0px;
        position: static;
        font-size: 10px;
        
    }

    .posRel {
        width: auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin: 0px;
    }

    .itemBox {
        margin: 30px 0px 0px 0px;

    }

    .about {
        margin: 0px 0px 30px 0px;
    }

    h3 {
        width: 100%;
        text-align: center;
        margin-bottom: 4%;
        padding: 3% 0%;
        font-size: 2em;
    }

    .formField {
        width: 92%;
        margin: 4%;
    }

    input, textarea {
        width: 100%;
    }
    
}

